@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: #e3e3e3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes text-color-rotation {
  0%, 100% {
    color: #f87171;
  }
  20% {
    color: #60a5fa;
  }
  40% {
    color: #4ade80;
  }
  60% {
    color: #a78bfa;
  }
  80% {
    color: #facc15;
  }
}

.rotating-username-text {
  animation: text-color-rotation 10s infinite linear;
}

